.header__animate {
    background-color: #1e2028;
    display: flex;
    flex-direction: column;
    width: 98%;
    color: white;
    position: absolute;
    left: 0;
    padding: 10px;
    top: 80px;
    /* transform: translateY(10%)!important; */
    animation: header__animate 0.4s ease-in-out ;
   
    /* transition: transform 0.4s ease-in-out; Adjust the transition timing as needed */
  }
  
  /* .header__animate.show {
    transform: translateY(0);
  } */
  
  .header__animate > div {
    width: 100%;
    color: white;
  }
  

  .hvr:hover > div :last-child{
    /* animation: hvranimate 0.4s ease-in-out ; */
    animation: hoverEffect 0.4s ease-in-out;
    /* background-color: red; */
  }
  .hvr:hover > .line{
    display: block!important;
  }
  .hvr:hover >div> .line{
    display: block!important;
  }

@keyframes hvranimate {
    0%{
        transform: translateY(100%);
        opacity: 0;
        /* transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d; */
        
    }
    99%{
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
        /* transform: translate3d(0px,0%,0px); */
    }
}
.line{
    display: none;
}
/* Define the keyframes animation */
@keyframes hoverEffect {
    0% {
      transform: translate3d(0px, 0, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
      opacity: 0;
    }
    50% {
      transform: translate3d(0px, 50px, 0px) scale3d(1.05, 1.05, 1.05) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
      opacity: 0;
    }
    90%{
        opacity: 0;
    }
    100% {
      transform: translate3d(0px, 0, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
      opacity: 1;
    }
  }
  
  /* Apply the keyframes animation on hover */
 
  

@keyframes header__animate {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        transform: translateY(10%);
        opacity: 1;
    }
}



@media screen and (max-width : 1000px){
    .hide{
        display: none;
    }
}

@media screen and (min-width:1000px){
    .hamburger{
    display: none!important;
    }
    .header__animate{
        display: none!important;
    }
}

